.centered {
  display: flex;
  justify-content: center;
  align-items: center;
  margin: 5px;
  margin-top: 20px;
}

.centered-a {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
  margin-left: auto;
  margin-right: auto;
}

.panel {
  margin-top: 25px;
}

.panel-completed {
  border-left-color: green;
  border-left-width: 5px;
}

.panel-heading {
  font-weight: bold;
}

.row {
  display: flex;
  flex-wrap: wrap;
}

.choreButton {
  margin-left: 5px;
  margin-right: 5px;
}

.MuiInputBase-root > input {
  font-size: 24px;
}
